* {
    margin: 0;
}

/*////////////////////////////////////Fontes////////////////////////////////////*/
.jockey-one-regular {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*<uniquifier>: Use a unique and descriptive class name*/

.oswald-{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
    background-color: #0D0D0D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*//////////////////////////////// Cabecalho ////////////////////////////////*/

.cabecalho {
    display: grid;
    grid-template-columns: 1fr 1fr 0.3fr 0.5fr;
    place-items: center;
    background-color: #000000;
    height: 45px;
    width: 100vw;
}

.texto-cabecalho {
    color: white;
    font-family: "Jockey One", sans-serif;
    text-decoration: none;
}

.luzPonto {
    grid-column: 1;
    justify-self: center;
}

.beneficios {
    grid-column: 2;
    justify-self: end;
    margin-left: 200px;
    transition: 0.3s;
}

.beneficios:hover {
    color: #EC0114;
}

.contato {
    grid-column: 3;
    justify-self: center;
    transition: 0.3s;
}

.contato:hover {
    color: #EC0114;
}

.botao-generico-contrate-agora{
    background-color: #EC0114;
    color: #ffffff;
    width: 125px;
    height: 25px;
    border-radius: 50px;
    border: #000000 solid 1px;
    text-decoration: none;
    text-align: center;
    font-family: "Oswald", sans-serif;
    transition: 0.3s;
}

.botao-generico-contrate-agora:hover {
    color: #EC0114;
    background-color: #ffffff;
    font-weight: bolder;
}

.contrate-agora {
    grid-column: 4;
    justify-self: start;
}

/*///////////////////////////////////// Apresentação ////////////////////////////////////////*/
.principal {
    width: 1000px;
}

.container {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.apresentacao {
    display: grid;
    gap: 5px;
}

.titulo-apresentacao {
    font-family:"Oswald", sans-serif;
    color: #ffffff;
    grid-column: 1;
    justify-self: center;
}

.botao-apresentacao {
    padding: 10px;
    justify-self: center;

}


.imagem{
    justify-self: center;
    grid-column: 2;
}

img {
    border-radius: 50px;
}
.botao-generico {
    background-color: #EC0114;
    color: #ffffff;
    width: 242px;
    height: 25px;
    border-radius: 50px;
    border: #000000 solid 1px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    grid-column: 1;
    transition: 0.3s;
    margin: 40px;
}

.botao-generico:hover {
    color: #EC0114;
    background-color: #ffffff;
    font-weight: bolder;
}

/*///////////////////////// APRESENTACAO 02 ///////////////////////*/

.container2 {
    padding: 20px;
}

.apresentacao2 {
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
.titulo-apresentacao2 {
    font-family:"Jockey One", sans-serif;
    color: #ffffff;
    margin-bottom: 10px;
}

 .subtitulo {
    color: #ffffff;
    font-family:"Oswald", sans-serif;
    font-size: medium;
    text-align: center;
    margin-bottom: 50px;

 }

 .textos-apresentacao{
    color: #ffffff;
    font-family:"Oswald", sans-serif;
    margin-bottom: 20px;
 }

.botao-conheca{
    border: 1px solid #262626;
    margin: 20px 30px;
    padding: 10px;
}

.fa-regular{
    color: #EC0114;
    padding: 20px;
}

/*////////////////////// APRESENTACAO 03 ///////////////////*/

.fundo-branco {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    width: 100vw;
}

.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 960px;
    padding: 20px;
}

.title {
    color: #000000;
    font-family:"Jockey One", sans-serif;
    grid-column: 1;
    place-self: center;
    margin-top: 30px;
}

.linha {
    display: grid;
    grid-column: 1;
    background-color: #EC0114;
    height: 2px;
    width: 350px;
    justify-content: center;
    place-self: center;
}

.apresentacao3 {
    background-color:#262626;
    display: grid;
    padding: 20px;
    height: 300px;
    border-radius: 15px;
    grid-column: 1;
    margin-top: 30px;
    justify-content: center;
    place-self: center;

}

.fa-solid {
    color: #868686;
    padding: 10px;

}

.subtitulo1 {
    color:#f2f2f2;
    font-family:"Jockey One", sans-serif;
    text-align: center;
    
}

.text {
    color: #f2f2f2;
    font-family:"Oswald", sans-serif;
    text-align: center;

}

/*////////////////////// Formulário ///////////////////*/

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1/4;
    background-color: #262626;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 80px;
}

.input-padrao {
    width: 97%;
    height: 43px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.botao-formulario {
    display: block;
    margin: 0 auto 0 auto;
    padding: 20px;
    height: unset;


}
/*ta quase em*/

/*////////////////// APRESENTACAO 04 ////////////*/

.container4 {
    padding: 20px;
}

.servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #262626;
    padding: 20px;
    border-radius: 10px;
}

.titulo-apresentacao3 {
    justify-self: center;
    text-align: center;
    font-family:"Jockey One", sans-serif;
    color: #ffffff;
    margin: 10px;
}

.textos-apresentacao4{
    color: #ffffff;
    text-align: center;
    font-family:"Oswald", sans-serif;
    padding: 0px;
    margin: 4px;
 }

 .linha {
    display: grid;
    grid-column: 1;
    background-color: #EC0114;
    height: 2px;
    width: 350px;
    justify-content: center;
    place-self: center;
}

 .fa-solid {
    color: #ffffff;
    padding: 20px;
}